#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// --------------------------------------------------------------------------
// |  Q   |  W   |  E   |  R   |  T      |   Y     |  U   |  I   |  O   |  P      |
// |  A   |  S   |  D   |  F   |  G      |   H     |  J   |  K   |  L   |  SHIFT  |
// |  Z   |  X   |  C   |  V   |  SPACE  |  ENTER  |  B   |  N   |  M   |  .      |

			bindings = <
	&kp Q    &kp W    &kp E     &kp R  &kp T  	&kp Y     &kp U  &kp I     &kp O    &kp P    
	&kp A    &kp S    &kp D     &kp F  &kp G  	&kp H     &kp J  &kp K     &kp L    &kp RSHFT 
	&kp Z    &kp X    &kp C     &kp V  &kp SPACE 	&kp RET	  &kp B  &kp N     &kp M    &kp DOT 
	
			>;
		};
	};
};
